/* box-sizing: border-box; para que los height y widh no sume los padding, margin,etc*/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* para que los navegadores no pongan marin ni padding*/
html, body {
    font-size: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}